{{ 'languageSelector.css' | asset_url | stylesheet_tag }}

{% assign curLangIsoCode = localization.language.iso_code %}
{% assign curLangFlagImgUrl = curLangIsoCode | downcase | append: 'Flag.png' %}

{% form 'localization', id: 'localization_form', class: 'lang-select-form' %}
<div class="lang-select">
    <img class="lang-select__selected-language-flag" src={{ curLangFlagImgUrl | asset_img_url: '24x' }} />
    <img class="lang-select__dropdown-arrow" src={{ 'down-arrow.png' | asset_img_url: '24x' }} />
</div>
<div class="lang-select__dropdown hidden">
    {% for language in localization.available_languages %}
    {% unless language.iso_code == curLangIsoCode %}
    {% assign langFlagImgUrl = language.iso_code | downcase | append: 'Flag.png' %}
    {% assign langAbbreviation = language.iso_code %}
    {% if langAbbreviation == 'vi' %}
    {% assign langAbbreviation = 'vn' %}
    {% endif %}
    <div class="lang-select__option" lang={{language.iso_code}}>
        <img src="{{ langFlagImgUrl | asset_img_url: '24x' }}" alt={{language.name}} />
        <p>{{langAbbreviation | upcase}}</p>
    </div>
    {% endunless %}
    {% endfor %}
</div>
<input name="locale_code" id="language-selector__input" type="hidden" value="{{localization.language.iso_code}}" />
{% endform %}

{{ 'languageSelector.js' | asset_url | script_tag }}